@import '../App.scss';

.contact {
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    position: absolute;
    justify-content: center;
    align-items: center;
    overflow: auto;

    &-title {
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 10px;
    }

    &-email {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 50px;
    }

    &-group {
        display: flex;
        justify-content: space-between;
        width: 40vw;
        margin: 10px;
        padding-bottom: 5px;
    }

    &-input {
        color: white;
        height: auto;
        width: 500px;

        &:active, &:focus {
            color: white;
            border: 1px solid white;
            outline: none;
        }
    }
}

.contact-button, .login-button {
    margin-top: 20px;
    text-align: center;
    line-height: center;
    justify-content: center;
    background: #585858;
    border: 3px solid white;
    border-radius: 1rem;
}

.login-button {
    display: flex;
}

.contact--icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.contact--text {
    font-size: 15px;
}

.contact-button:hover {
    background-color: #999 !important;
    border: 3px solid white !important;
    color: white !important;
}

@media (max-width: 1024px) {
    .contact-email {
        display: none;
    }
    
    .contact-form {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-group, .contact-input {
        justify-content: center;
        align-items: center;
        width: 60vw;
    }

    .contact-group {
        display: block;
        margin: 0;
    }

    .contact-input {
        height: 5vh;
    }

    .contact-button {
        border-radius: 1rem;
        margin-top: 1rem;
    }

    label {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-height: 700px) {
    .contact-email {
        display: none;
    }
}