.contact {
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    position: absolute;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.contact-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.contact-email {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 50px;
}

.contact-group {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin: 10px;
    padding-bottom: 5px;
}

.contact-input {
    color: white;
    height: auto;
    width: 500px;
}

.contact-input:active, .contact-input:focus {
    color: white;
    border: 1px solid white;
}

.contact-button {
    display: flex;
    margin-top: 20px;
    text-align: center;
    line-height: center;
    background: #585858;
    border: 3px solid white;
    border-radius: 1rem;
}

.contact--icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.contact--text {
    font-size: 15px;
}

.contact-button:hover {
    background-color: #999 !important;
    border: 3px solid white !important;
    color: white !important;
}

@media (max-width: 1024px) {
    .contact-email {
        display: none;
    }
    
    .contact-form {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-group, .contact-input {
        justify-content: center;
        align-items: center;
        width: 60vw;
    }

    .contact-group {
        display: block;
        margin: 0;
    }

    .contact-input {
        height: 5vh;
    }

    .contact-button {
        border-radius: 1rem;
        margin-top: 1rem;
    }

    label {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-height: 700px) {
    .contact-email {
        display: none;
    }
}