@import '../App.scss';

.home {
    flex-direction: column;
    margin: 0 auto 0 auto;
    text-align: center;

    @include tablet-width {
        margin: 0;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
}