.hs {
    flex-direction: column;
    margin: 0 auto 0 auto;
    text-align: center;
}

.title--game {
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .hs {
        margin: 0;
        width: 100vw;
        justify-content: center;
        align-items: center;
        max-height: 68vh !important;
    }
}