.topbar {
    position: absolute;
    background-color: #3b3b3b;
    top: 0;
    left: 10vw;
    text-align: center;
    width: 80vw;
    height: 12vh;
    z-index: 13;
}

.topbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 10px;
    height: 10vh;
    border-bottom: white 3px solid;
    background-color: #3b3b3b;
}

.topbar-right,
.topbar-left {
    display: flex;
}

.topbar-icon, .topbar-clock {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 5px;
    color: white;
}

.topbar-clock {
    font-weight: bold;
    font-size: 18px;
    width: 110px;
}

.topbar-navlink {
    transform: scale(1.0) !important;
}

.topbar-user {
    padding: 5px !important;
    margin-top: 5px;
    border: 3px solid white;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .topbar-text {
        display: none;
    }
}

@media (max-height: 700px) {
    .topbar-container {
        margin: 0;
    }
}

@media (max-height: 500px) {
    .topbar-icon{
        display: none;
    }
}