@import 'src/util/mixinFn';

.projectList {
    @include flex(column);
    @include w-h(auto, 300px);
    @include color(auto, $whiteColor);

    &__item {

        &--name {
            @include w-h(300px, 30px);
            @include margin-bottom(25px);
            @include border-bottom($borderBottom);
            margin-left: 150px;
        }

        &--desc {
            @include w-h(500px, 0);
            margin-left: 150px;
        }

        &--lang {
            @include border-bottom($borderBottom);
            @include w-h(200px, 30px);
            margin-right: 150px;
        }

        &--date {
            @include border-bottom($borderBottom);
            @include w-h(200px, 30px);
            margin-right: 150px;
        }
    }

    &__content {
        @include flex(row);
        @include align(space-between, auto);
    }

    &__container {
        @include flex(row);
        @include align(space-between, auto);
    }
}

.project {
    @include flex(auto);
    @include align(center, center);
    @include w-h(auto, 200px);

    &__highlight {
        @include color(auto, $whiteColor);
        @include font(50px, bold);
        @include margin-bottom(10px);
    }
}