@import 'src/util/mixinFn';

.navbar {
    @include flex(auto);
    @include align(space-between, auto);
    @include color($blackColor, $whiteColor);
    @include border-bottom(1px solid black);
    min-height: 48.85px;
    max-height: 5vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    &__content {
        @include margin(15px);
        margin-left: 100px;

        &--button{
            @include color(auto, $whiteColor);
            @include margin(50px);
            @include font(16px, auto);
            @include transition(0.3s);

            &:hover {
                @include color(auto, $orangeColor);
                @include font(18px, auto);
            }
        }
    }

    &__title {
        @include color(auto, $whiteColor);
        @include margin(15px);
        @include transition(0.3s);
        margin-right: 150px;
        
        &:hover {
            @include color(auto, $orangeColor);
        }
    }
}