.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: 1px solid black;
    min-height: 48.85px;
    max-height: 5vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    &__content {
        margin: 15px;
        margin-left: 100px;

        &--button{
            font-size: 16px;
            color: white;
            margin: 50px;
            transition: 0.3s;

            &:hover {
                color: orange;
                font-size: 18px;
            }
        }
    }

    &__title {
        color: white;
        margin: 15px;
        margin-right: 150px;
        transition: 0.3s;
        
        &:hover {
            color: orange;
        }
    }
}