@import 'src/util/mixinFn';

.sidebar {
    @include color($blackColor, $whiteColor);
    @include w-h(35%, auto);
    border-left: 1px solid $blackColor;
    min-height: 928.15px;
    max-height: 95vh;

    &[trackLocation="3"]{
        position: fixed;
        bottom: -344px;
        right: 0px;
    }

    &__content {
        @include flex(column);
        @include w-h(auto, 100%);
        @include align(center, center);
    }

    &__container {
        @include flex(row);
        @include align(center,center);
    }

    &__item {
        @include color(auto, $whiteColor);
        @include font(15px, auto);
    }

    &__icon {
        @include transition(0.3s);
        @include margin-bottom(12px);
        min-width: 100px;
        max-width: 200px;

        &--tiny {
            @include w-h(25px, auto);
        }

        &:hover {
            transform: scale(2);
        }
    }
}