.sidebar {
    border-left: 1px solid black;
    width: 35%;
    min-height: 928.15px;
    max-height: 95vh;
    background-color: black;

    &__content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__item {
        color: white;
        font-size: 15px;
    }

    &__icon {
        min-width: 100px;
        max-width: 200px;
        transition: 0.3s;

        &--tiny {
            width: 35px;
        }

        &:hover {
            transform: scale(2);
        }
    }
}